.container {

    margin-left: auto;
    margin-right: auto;
    width: 1024px;

}

img {
    max-width:100%;
    max-height: 100%;
}

header {
    /* background-color: rgb(43, 22, 48);
    height: 118px; */
    text-align: center;
}

body {
    /* background-color: rgb(29, 16, 32);
    height: 118px; */
    text-align: center;
    background-image: url("site_test.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


nav{
    /* background-color: rgb(71, 55, 79); */
    /* height: 118px; */
    text-align: center;   
    font-size: 25px;
}

main{
    /* background-color: rgb(135, 101, 140); */
    /* height: 588px; */
    color: white;
    font-size: 25px;
    text-align: center
    
}

footer{
    /* background-color: rgb(43, 22, 48); */
    /* height: 118px; */
}
